.body li,a {
  list-style: none;
  text-decoration: none;

}
.career{
  width: 250px;
}
.admission{
  width: 250px;
}
.accommodation{
  width: 250px;
}

.the-div{
  display: flex;
  justify-content: space-around;

}
.pre-{

  width: 250px;
}
.visa{
  width: 250px;

}
.div-the{
  display: flex;
  justify-content: space-around;
}
.divv{
  width: auto;
  text-align: center;
}